{{! Page 3 – \"Redefining the beach culture\" / the omprela vibe }}

<section class="quotation-page quotation-page-3">
  <header class="page3-header">
    <h2 class="page3-heading">
      <span class="page3-heading-main">{{vibe.headingMain}}</span><br>
      <span class="page3-heading-italic">{{vibe.headingItalic}}</span>
      <span class="page3-heading-tail">{{vibe.headingTail}}</span>
    </h2>
  </header>

  <div class="page3-body">
    <img src="/icons/the-omprella-vibe.svg" alt="" class="page3-vibe-icon">
    <p class="page3-paragraph">
      {{nl2br vibe.paragraph}}
    </p>
  </div>

  <footer class="page3-footer">
    <div class="page3-footer-left">
      <span class="page3-website">{{vibe.website}}</span>
      <span class="page3-email">{{vibe.email}}</span>
    </div>
    <div class="page3-footer-right">
      <span class="page3-phone">{{vibe.phone1}}</span>
      <span class="page3-phone">{{vibe.phone2}}</span>
    </div>
  </footer>
</section>

